netcdf4==1.2.4
pykafka==2.3.1
pupynere==1.0.15


BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
bs4==0.0.1
flup==1.0.3.dev20110405
gevent==1.1.0
greenlet==0.4.9
hashids==1.1.0
html5lib==0.999
isodate==0.5.1
jsontemplate==0.87
kafka-python==1.2.0
kazoo==2.2.1
matplotlib==1.1.1
msgpack-python==0.4.6
numpy==1.8.0
paho-mqtt==1.1
pupynere==1.0.15
pyandoc==0.0.1
pygrok==0.7.1
pykafka==2.3.1
pyleus==0.2.4
pyparsing==2.0.3
PyYAML==3.11
rdflib==4.2.0
regex==2016.4.25
requests==2.10.0
six==1.9.0
SPARQLWrapper==1.6.4
tabulate==0.7.5
virtualenv==12.1.1
